@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    background-color: #0B3346;
}

.container {
    margin: 0px 150px 0px 150px;
}

.navbar {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    .nav-brand {
        font-size: 22px;
        align-self: center;
        a {
            text-decoration: none;
            color: #ffff;
        }
    }
    .nav-items {
        font-size: 18px;
        align-self: center;
        float: right;
        list-style: none;
        display: flex;
        a {
            color: #DAE4C3;
            text-decoration: none;
            margin: 15px;
        }
        a:hover {
            color: #ffff;
        }
        .active {
            color: #ffff;
        }
    }
}

.hero-container {
    margin-top: 80px;
    display: grid;
    column-gap: 60px;
    grid-template-columns: 60% 40%;
    justify-items: center;
    .hero-1 {
        color: #ffff;
        .title {
            font-size: 49px;
            margin-bottom: 30px;
            span {
                font-weight: bold;
            }
        }
        .paraph {
            padding-right: 230px;
            line-height: 30px;
            font-size: 18px;
            span {
                font-weight: bold;
            }
        }
    }
    .hero-2 {
        align-self: center;
        img {
            width: 430px;
            height: 430px;
        }
    }
    .btn-container {
        margin-top: 100px;
        .btn-work {
            padding: 16px 53px 16px 53px;
            text-decoration: none;
            background-color: #DAE4C3;
            border-radius: 5px;
            color: #0B3346;
            font-size: 17px;
            border: 2px solid #DAE4C3;
        }
        .btn-work:hover {
            background-color:#0B3346;
            color: #DAE4C3;
            border: 2px solid #DAE4C3;
        }
        .btn-about {
            margin-left: 40px;
            padding: 16px 53px 16px 53px;
            text-decoration: none;
            background-color: transparent;
            border-radius: 5px;
            border: 2px solid #DAE4C3;
            color: #DAE4C3;
            font-size: 17px;
        }
        .btn-about:hover {
            background-color: #DAE4C3;
            color: #0B3346;
            border: 2px solid #DAE4C3;
        }
    }
}